<!doctype html>
<html ng-app="roundKeeper" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/main.css">
    <!-- font script -->
    <script>
        (function(d) {
            var config = {
                        kitId: 'whi8fab',
                        scriptTimeout: 3000,
                        async: true
                    },
                    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
</head>
<body ng-controller="RoundAppController">
<section class="header page-wrap">
    <div class="u-1/1">
        <h1>Welcome to Fantasy Pub Round Keeper</h1>
        <h3><i>"No matter how smashed you get, we'll keep your tab right!"</i></h3>
        <h4 ng-if="currentRound - 1">
            Current round: <span ng-bind="currentRound - 1"></span>
        </h4>
    </div>
</section>
<!-- initialise order -->
<order-start ng-if="orderNotInProgress"></order-start>
<!-- end of add a round -->
<div ng-include="'templates/select-pub.html'" ng-if="selectPub"></div>
<div ng-include="'templates/select-drinks.html'" ng-if="selectDrinks"></div>
<script src="dist/js/app.min.js"></script>
</body>
</html>